body div.bottom {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}

body div.bottom .bottom-inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 50px;
  padding-left: 80px;
  font-style: italic;
  font-weight: lighter;
}