body .corpo {
    position: relative
}

body .corpo img {
    width: 100%;
    height: auto;
    display: block;
}

body .corpo .texto {
    background: rgba(26, 50, 67, 0.8);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 30px;
    text-align: left;
    z-index: 1;
    width: 500px;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 10px;
}

body .corpo .texto2 {
    display: flex;
    flex-direction: row;
}

body .corpo .texto h1 {
    color: #FFFFFF;
    font-size: 230%;
    font-style: italic;
    font-weight: lighter;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-right: 30px;
    margin-bottom: 1px;
}

body .corpo .texto2 img {
    height: 50px;
    width: auto;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 15px;
}

body .corpo .texto2 p{
    color: #FFFFFF;
    font-style: italic;
    font-weight: lighter;
    font-size: 150%;
    margin-right: 40px;
}

body .corpo .texto2 p span {
    color: #C6B07F;
    font-size: 80%;
}